.studashh1 {
    text-align: center;
    line-height: 40px;
    background-color: orange;
    font-size: 25px;
    padding: 10px;
}

.studashnavleft {
    width: 200px;
    background-color: aqua;
    height: 300px;
    font-size: 20px;
    margin-right: 50px;
}
.useenameheading {
    text-align: end;
    font-size: 20px;
}
.username {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.studashnavleft ul li {
    color: blue;
    cursor: pointer;
    font-size: 22px;
}